body {
    margin: 0;
    border: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
}

.tile{
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}