body,html {
    height: 100%;
    background-color: #CEDFDF;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 30px;
    background-color: #A9C3B6;
    border-radius: 10px;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 850px;
    width: 850px;
    border: 10px solid #8FB8CA;
}

.tile{
    background-color: #B7D1D3;
    flex: 1;
    border: 1px solid black;
}

.row-div {
    display: flex;
    flex: 1;
}